td {
    padding: 0.5rem;
    height: 2.5rem;
    text-align: center;
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Кнопки*/

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.action svg {
    cursor: pointer;
}

.deleteBtn {
    color: red;
}

.editBtn {
    color: orange;
}

.safeBtn {
    display: flex;
    background-color: rgb(7, 194, 7);
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    color: white;
    font-size: 12px;
    gap: 2px;
    align-items: center;
}

.safeBtn:disabled {
    background-color: grey;
}

.cancelBtn {
    color: red;
}

.safeBtn,
.cancelBtn,
.editBtn,
.deleteBtn:hover {
    cursor: pointer;
}