.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action svg {
    cursor: pointer;
}

.deleteBtn {
    color: red;
}

.editBtn {
    color: orange;
}

.safeBtn {

    display: flex;
    background-color: rgb(7, 194, 7);
    border-radius: 5px;
    padding: 0.3rem;
    color: white;
    font-size: 12px;
    gap: 2px;
    align-items: center;
}