.footerWrp {
    display: flex;
    height: 50px;
    background-color: rgb(151, 51, 245);
    margin-top: 20px;
}

.footer {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: rgb(151, 51, 245);
    text-decoration: none;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.footer a:hover,
.footer a:active {
    color: rgb(104, 36, 168)
}